@charset "UTF-8";

/*   **********    SETUP OF DOCUMENT     **********     */

html,
body * {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    max-width: 112.5rem;
    margin: 0;
    padding: 0;
    font-family: "a-day-without-sun-text", sans-serif;
    background-color: #ffffff;
}


img {
    max-width: 100%;
    /* max-height: 100% */
}

a {
    text-decoration: none;
    color: black;
}

/*   **********    MAIN ELEMENTS     **********     */


/* Up Header */

.up_header {
    max-width: 100%;
    background-color: #fff;
    transition: all 1s ease;
}

.up_header_wrap {
    max-width: 85rem;
    margin: 0 auto;
    padding: 0.3rem 3.125rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    font-size: 1.25rem;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.social > a > img {
    width: 1.8rem;
    height: 1.8rem;
}



/********* Header **********/

header {
    /* width: 100%; */
    background-color: #54C2D4;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header_content {
    max-width: 85rem;
    margin: 0 auto;
    padding: 0 3.125rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    padding-top: 0.25rem;
}

.logo {
    width: 10rem;
}




.header_right {
    width: 50%;
}

.nav-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-main_list {
    display: flex;
    gap: 1.875rem;
}

.nav-main_item {
    position: relative;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.nav-phone {
    display: none;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    visibility: hidden;
    z-index: 3;
    gap: 1rem;
    top: 3.75rem;
    left: 0;
    padding: 0.5rem;
    font-size: 1.25rem;
    transition: 0.1s ease-in-out;
    background-color: #fff;
}

.nav-main_item:hover  {
    background-color: #fff;
}

.nav-main_item:hover > a {
    opacity: 0.6;
}


.nav-main_item:hover .dropdown {
    visibility: visible;
}

.dropdown > li:hover {
    opacity: 0.6;
}


/********* Slider **********/

.slider {
    max-width: 85rem;
    height: 200px;
    margin: 0 auto;
    animation: 0.8s fadeIn ease-in-out;
}

.slider > img {
    margin: 0 auto;
}



/********* Content **********/

.heading {
    max-width: 48.5rem;
    margin: 3rem auto 2rem;
    animation: 0.8s fadeIn ease-in-out;
}

main {
    max-width: 85rem;
    margin: 0 auto;
    padding: 0 6.8rem;
    padding-bottom: 3rem;
    animation: 0.8s fadeIn ease-in-out;
}

.main_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(217, 217, 217, 0.4);
}


.card {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.card:hover .hover_el {
    opacity: 1;
}

.card:hover .tittle {
    opacity: 0;
}

.tittle {
    width: 100%;
    font-size: 2rem;
    background-color:rgb(84, 194, 212, 0.6);
    position: absolute;
    text-align: center;
    padding: 0.3rem 0;
    letter-spacing: 0.08rem;
    opacity: 1;
    transition: 0.5s all ease-in-out;
}

.hover_el {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    text-align: justify;
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: black;
    background-color: rgba(233, 239, 240, 0.9);
    transition: 0.5s all ease-in-out;
    opacity: 0;
}


.hover_el > a {
    color: #54C2D4;
    font-size: 1.8rem;
}


.hover_el > a:hover {
    color: #285258;
    animation: shake 0.4s;
}



/* .card > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    color:#54C2D4;
    background-color: rgba(233, 239, 240, 0.8);
    opacity: 0;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
} */





/********** FOOTER *********/

footer {
    width: 100%;
    background-color: #54C2D4;
    margin-top: 1.875rem;
    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 2;
}

.footer_content {
    max-width: 85rem;
    padding: 0.5rem 3.125rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.social > img {
    width: 1rem;
    height: 1rem;
}

.copyright {
    margin: 0.5rem auto 0;
    font-size: 0.75rem;
    text-align: center;
}

footer::before {
    content: "";
    background-image: url(../images/chicken.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 2.5rem;
    transform: scale(-1, 1);
    right: 3rem;
    width: 5rem;
    height: 5rem;
}




/* ********* Responcive ********** */

/* Tablet */

@media screen and (min-width: 40.1em) and (max-width:67em) {
    .header_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header_left {
        justify-content: center;
        margin-top: 1rem;
    }

    .heading {
        margin: 1rem auto;
        padding: 0 1rem;
    }

    main {
        padding: 0 3rem;
        padding-bottom: 3rem;
    }

    .card {
        width: 33%;
    }

    .tittle {
        font-size: 1.5rem;
    }    

    .hover_el {
        gap: 0.5rem;
        position: absolute;
        text-align: justify;
        padding: 1rem;
        font-size: 1.1rem;
        line-height: 1.1rem;
    }

    footer::before {
        display: none;
    }

    .hover_el > a {
        font-size: 1.3rem;
    }
}



/* Phone */

@media screen and (max-width:40em){

    .up_header_wrap {
        padding: 0.3rem 2rem;
        gap: 1rem;
        font-size: 1rem;
        justify-content: center;
    }

    .social > a > img {
        width: 1.2rem;
        height: 1.2rem;
    }

    header {
        position: unset;
    }

    .header_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .header_left {
        justify-content: center;
        margin-top: 1rem;
    }

    .nav-main {
        display: none;
    }

    .nav-phone {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .nav-phone > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        background-color: #fff;
    }

    .nav-phone > ul > li {
        padding: 0.5rem;
    }

    .nav-phone > ul > li:hover {
        opacity: 0.6;
    }

    .special {
        background-color: #54C2D4;
        width: 100%;
        text-align: center;
    }

    .heading {
        margin: 1rem;
    }

    main {
        padding: 0 1rem;
    }

    .card {
        width: 18.75rem;
    }

    .slider {
        display: none;
    }

    footer {
        position: unset;
    }

    footer::before {
        display: none;
    }
    
}

/*   **********    CLEAR CODE FOR FLOATS     **********     */

.clear__float {
    float: none;
    clear: both;
}


@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }  
